*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
    background-color: hsl(226, 43%, 10%);
    font-family: 'Rubik', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container {
    width: 80%;
    max-width: 1100px;
    min-width: 325px;
    display: grid;
}

@media screen and (min-width: 1000px) {
    .container {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: repeat(4,1fr);
        row-gap: 20px;
        column-gap: 10px;
    }
    .person {
        grid-row-start: 1;
        grid-row-end: 3;
    }
    .profile {
        flex-direction: column;
        padding: 20px;
    }
    .report-for {
        margin-top: 30%;
    }
    .period {
        flex-direction: column;
        justify-content: flex-end;
    }
    .daily {
        margin-bottom: 1em;
    }
    .monthly {
        margin-top: 1em; 
    }
    .card-stats {
        flex-direction: column;
        align-items: left;
        justify-content: center;
    }
}

@media screen and (max-width: 1000px) {
    .container {
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: 1fr 1fr;
        row-gap: 10px;
        column-gap: 20px;
    }
    .person {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .profile {
        flex-direction: row;
        padding: 40px;
    }
    .report-for {
        margin-left: 2em;
    }
    .period {
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-end;
    }
    .card-stats {
        flex-direction: column;
        align-items: left;
        justify-content: center;
    }
}

@media screen and (max-width:650px) {
    .card-stats {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .container {
        grid-template-rows: repeat(7, 1fr);
        grid-template-columns: 1fr;
        row-gap: 10px;
        column-gap: 20px;
    }
    .person {
        grid-column-start: 1;
        grid-column-end: 2;
    }
}

.card {
    position: relative;
    min-height: 207.469px;
}

.profile {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: hsl(246, 80%, 60%);
    display: flex;
    justify-content: start;
    border-radius: 1em;
    z-index: 2;
    height: 70%;
}

.profile-photo {
    width: 50px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
    border-radius: 100%;
    border: 2px solid white;
}

.profile-photo img {
    max-width:100%;
    max-height:100%;
}

.period {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    padding: 20px;
    background-color: hsl(235, 46%, 20%);
    border-radius: 1em;
    color: white;
}
.work .card-background {
    background-color: hsl(15, 100%, 70%);
}
.play .card-background {
    background-color: hsl(195, 74%, 62%);
}
.study .card-background {
    background-color: hsl(348, 100%, 68%);
}
.exercise .card-background {
    background-color: hsl(145, 58%, 55%);
}
.social .card-background {
    background-color: hsl(264, 64%, 52%);
}
.selfcare .card-background {
    background-color: hsl(43, 84%, 65%);
}

.card-background {
    width: 100%;
    height: 100%;
    position: absolute;
    top:0px;
    left: 0px;
    border-radius: 1em;
}

.card-details {
    background-color: hsl(235, 46%, 20%);
    width: 100%;
    height: 80%;
    position: absolute;
    top:20%;
    left: 0px;
    border-radius: 1em;
    display: grid;
    grid-template-rows: 1fr 2fr;
    padding: 0.7em;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.card-details:hover {
    background-color: hsl(235, 41%, 30%);
}

.card-header {
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
}

.card-options {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    text-align: center;
    cursor: pointer;
}

.card-options:hover {
    background-color: rgb(241, 236, 236, 0.2);
}

.card-stats {
    display: flex;
}

.current {
    color: white;
    font-size: 3.5em;
    font-weight: 300;
}

.previous {
    color: rgb(206, 206, 206);

}

.svgs {
    float: right;
}

.svgs:hover {
    width: 90;
    height: 90;
}
.timeframe {
    color:rgb(206, 206, 206);
    cursor: pointer;
}
.timeframe:hover {
    color: white;
}

.color-white{
    color: white;
}

.check {
    color:green;
}


